.header-bg{
    background-image:url(../../image/header-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-area{
    height: 400px;
}
.header-area h1{
  background: radial-gradient(#e66465, #9198e5);
  color: white;
  font-weight: bolder;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}
.header-bg img{
  width: 200px;
}

@media screen and (max-width: 767px) {
  .header-area h1{
    width: 80%;
    margin: auto;
    font-size: 26px;
    padding: 10px 6px;
  }
}
.navbar-bg{
  background-color: #6610f2;
}
.navbar-bg a{
  color: white !important;
  font-size: 18px;
}
.navbar-brand{
  font-size: 32px !important;
}